@model IList<Library.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h3>@Library.Resources.HomeTexts.BookSearchTitle</h3>
    @using (Html.BeginForm("", "", FormMethod.Post, new { encype = "multipart/form-data", runat = "server" }))
    {
        <label for="book">@Library.Resources.HomeTexts.SearchElements</label>
        <input type="text" name="book" class="inputs-size-bigger" />

        <input type="submit" class="btn btn-success" style="margin: 10px;" value="@Library.Resources.HomeTexts.Search" />
    }
</div>

<div class="text-center">
    <h3>@Library.Resources.HomeTexts.News</h3>

</div>

@for (int i = 0; i < Model.Count; i++)
{
    <p>
        @Model[i].Title
    </p>


}
