@model Library.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h3>@Library.Resources.HomeTexts.BookSearchTitle</h3>
    @using (Html.BeginForm("", "", FormMethod.Post, new { encype = "multipart/form-data", runat = "server" }))
    {
        <label for="book">@Library.Resources.HomeTexts.SearchElements</label>
        <input type="text" name="book" class="inputs-size-bigger" />

        <input type="submit" class="btn btn-success" style="margin: 10px;" value="@Library.Resources.HomeTexts.Search" />
    }
</div>

<div class="text-center">
    <h3>@Library.Resources.HomeTexts.News</h3>
    @foreach (var news in Model.NewsList)
    {
        <h4>@news.Title</h4>
        <br/>
        <h5>@news.Username</h5>
        <span>@news.Content</span>
        <hr/>
    }
</div>

<hr/>

<div class="text-center">
    <h3>@Library.Resources.HomeTexts.BooksList</h3>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>@Library.Resources.HomeTexts.Title</th>
                <th>@Library.Resources.HomeTexts.Author</th>
                <th>@Library.Resources.HomeTexts.Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.BooksList)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Category</td>
                </tr>
            }
        </tbody>
    </table>
</div>

